<div class ="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">NBA Fantasy BasketBall Player News</h1>
    <p class="lead">Get updates on current players stats and progress</p>
  </div>
</div>
</div>











